{erl_opts, [debug_info, netload]}.
{deps, [
        {broadcast, {git, "https://github.com/mveety/broadcast.git", {branch, "main"}}}
       ]}.
{relx, [{release, {veetyircd, git}, [veetyircd]},
        {mode, dev},
        {check_for_undefined_functions, true},
        {extended_start_script, true},
        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"}
       ]}.

{profiles,
 [
  {prod,
   [{relx, [{release, {veetyircd, git}, [veetyircd]},
            {mode, prod},
            {sys_config, "config/production_sys.config"},
            {vm_args, "config/production_vm.args"}
           ]}]}
  ]}.
