[{kernel,
  [{logger,
    [
     %%{handler, default, logger_std_h,
     %% #{ formatter => {logger_formatter, #{time_designator => $\s,
     %%                                      single_line => true
     %%                                     }}
     %%  , config => #{ %%file => "veetyircd_system.log"
     %%               }}}
     %%, {handler, ircd_events, logger_std_h,
     %%   #{ formatter => {logger_formatter, #{time_designator => $\s,
     %%                                        single_line => true
     %%                                       }}
     %%    , config => #{ %%file => "veetyircd_events.log"
     %%                 }}}
    ]}
  ]
 }].
